.task__item {
    margin-bottom: 10px;
    padding: 10px 10px 9px;
    border-bottom: 1px solid #eee;
}
.task__item:last-child {
    border-bottom: 0;
}
.task__item:nth-child(even) {
    background: #f8f9fa;
}
.task__item.compleated {
    color: #28a745;
}
.task__item-link {
    font-size: 20px;
}
.task__item-link:hover,
.form-auth__link:hover {
    text-decoration: none;
}